In [1]:
ex1=(1,2,3,"R",3.4,5.6,"Python")
ex2=("Piyush","Sheela","Pooja","Arun")
print(ex1)
print(ex2)
print(type(ex1))
print(type(ex2))

(1, 2, 3, 'R', 3.4, 5.6, 'Python')
('Piyush', 'Sheela', 'Pooja', 'Arun')
<class 'tuple'>
<class 'tuple'>

In [2]:
ex1=1,2,3,"R",3.4,5.6,"Python"
ex2="Piyush","Sheela","Pooja","Arun"
print(ex1)
print(ex2)
print(type(ex1))
print(type(ex2))

(1, 2, 3, 'R', 3.4, 5.6, 'Python')
('Piyush', 'Sheela', 'Pooja', 'Arun')
<class 'tuple'>
<class 'tuple'>

#### tuple should be in paranthesis
#### 0r it can be used without paranthesis also

In [3]:
ex1==ex2

False

In [4]:
ex1[1:5]

(2, 3, 'R', 3.4)

In [5]:
ex2[-2]

'Pooja'

### Tuple is written with paranthesis or without ant brackets
### we can retrive the elements using index
### it is Heterogeneous

In [7]:
ex2[-2]='Vaishnavi'

TypeError: 'tuple' object does not support item assignment

### tuple is inmutable (cannot be replaced or changed once created)

In [8]:
tuple3=ex2*2
tuple3

('Piyush', 'Sheela', 'Pooja', 'Arun', 'Piyush', 'Sheela', 'Pooja', 'Arun')

#### converting from list to tuple and replaced with vaishnavi

In [9]:
ex2

('Piyush', 'Sheela', 'Pooja', 'Arun')

In [10]:
type(ex2)

tuple

In [11]:
ex3=list(ex2)

In [12]:
type(ex3)

list

In [14]:
ex3[2]="vaishnavi"
ex3

['Piyush', 'Sheela', 'vaishnavi', 'Arun']